@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: main;
  src: url(../public/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: cairo;
  src: url(../public/cairo.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: main;
}
/* body {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  background: #111;
}
.form-group {
  position: relative;
  width: 300px;
} */
/* .form-group input {
  border: 2px solid #fff;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  outline: none;
  color: #ddd;
  background: transparent;
}
.form-group label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  padding: 0 4px;
  color: #ddd;
  font-size: 1em;
  font-weight: 100;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.form-group input:is(:focus, :valid) {
  border: 2px solid #b00;
  box-shadow: 0 5px 10px #b00;
}
.form-group input:is(:focus, :valid) + label {
  top: 0;
  padding: 0 4px;
  color: #b00;
  background: #111;
} */
/* .form-group input {
  border: 2px solid #fff;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  outline: none;
  color: #ddd;
  background: transparent;
}

.form-group label {
  color: white;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: all 0.3s;
  padding: 0 10px;
  font-size: large;
}
.form-group input:focus,
.form-group input:valid {
  border-color: red;
}
.form-group input:focus + label,
.form-group input:valid + label {
  top: 0;
  background-color: #111;
  font-size: medium;
} */

.link {
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: #e52421;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: #e52421;
  transition: all 0.3s ease-in-out;
}
.link:hover::before {
  left: 0;
}

/* swiper */
/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
} */
.swiper-container img {
  aspect-ratio: 4/3;
}
.input-container input:focus,
.input-container input:valid,
.input-container textarea:focus,
.input-container textarea:valid {
  border: 1px solid #e52421;
}
.input-container input:focus + label,
.input-container input:valid + label {
  top: -12px;
  padding: 1px 5px;
}
.input-container textarea:focus + label,
.input-container textarea:valid + label {
  top: -12px;
  padding: 1px 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
